* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.warapper{
    width: 420px;
    background: purple;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
    background: transparent;
}

.warapper h1 {
    font-size: 36px;
    text-align: center;
}

.warapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0 ;
}

.input-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 20px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.warapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #952afa;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.warapper .btn {
    width: 100%;
    height: 50px;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius:  40px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #272727f3;
    transition: 0.3s;
}

.warapper .register-link {
    text-align: center;
    margin: 20px 0 10px;
    font-size: 14.5px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
